<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="scss/style.css" rel="stylesheet" type="text/css" />
  <title>EXAMEN 4RBIKE</title>
  <link rel="icon" href="img/logo.PNG">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta name="author" content="4rbikes" />
  <meta name="copyright" content="© 2019 - 2022 www.4rbikes.com - All Rights Reserved." />

  <meta name="descripcion"
    content="Tu tienda de bicicletas de confianza, cambia tu bicicleta a tu gusto o reciclala.">
  <meta name=”keywords” content="Bizikletak Birziklatzea Adaptazioa Motorizazioa ">
</head>

<body>

  <header>

    <nav class="navbar navbar-expand-lg navbar-light p-1" id="navbar">
      <div class="container-fluid">

        <a id="navbar-logo" href="index.html">
          <img src="../view/img/index/logo1.png" alt="">
        </a>

        <a id="log" href="paginas/login.html">
          <img src="../view/img/usuario-de-perfil.png" alt="" style="width: 30px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">Sarrera</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="paginas/kategoriak.html" id="navbarDropdown"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">Kategoriak</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="paginas/kategoriak.html#Birziklatu">Birziklatzea</a></li>
                <li><a class="dropdown-item" href="paginas/kategoriak.html#Adaptazioa">Adaptazioa</a></li>
                <li><a class="dropdown-item" href="paginas/kategoriak.html#Motorizazioa">Motorizazioa</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="paginas/sobrenosotros.html">Guri buruz</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="paginas/soporte.html">Soporte Teknikoa</a>
            </li>

          </ul>

          <form class="d-flex" role="search">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a id="user" href="paginas/login.html">
                  <img src="../view/img/usuario-de-perfil.png" alt="" style="width: 30px;">
                </a>
              </li>
              <li class="nav-item">
                <img src="../view/img/pais-vasco.png" alt="" style="width: 30px; margin-right: 10px;">
                <img src="../view/img/united-kingdom.png" alt="" style="width: 30px;">
              </li>
            </ul>
          </form>

        </div>

      </div>
    </nav>

  </header>


  <div id="bloquecarrusel">
    <div id="carrusel">

      <div class="logo_carrusel">
        <img class="iniciologo" src="img/logo.PNG" alt="">
      </div>

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/index/bici1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/index/bici2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/index/bici3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

    </div>
  </div>


  <br>


  <div id="cuerpoinicio">

    <div id="inicioSobreNosotros">
      <div id="textosobrenosotrosinicio">
        <h1>Guri buruz</h1>
        <p>4RBIKES proiektua, beste hainbat proiektu bezala, gau ilun batian tximista bakar
          batek sortzen duen argitasun zuntz batetik sortutako idea da. Zergatik ez imajinatu
          beste mobilitate eredu bat ? askoz ere jasangarriagoa, inklusiboa, osasuntsuagoa eta
          natura berarekin integratzaileagoa.</p>

        <a href="paginas/sobrenosotros.html">
          <button class="boton_personalizado">Informazio gehiago</button>
        </a>

      </div>

      <img id="imagensobrenosotrosinicio" src="img/index/taller-bicicletas.jpg" alt="">



    </div>

    <br><br><br>

    <div id="imagenesinicio">

      <a class="contenedor" href="paginas/kategoriak.html#Birziklatu">
        <img class="imglink" src="img/index/imgReciclaje.jpg" alt="">
        <div class="textoImagen">
          <h1>Birziklatzea</h1>
        </div>
      </a>

      <a class="contenedor" href="paginas/kategoriak.html#Adaptazioa">
        <img class="imglink" src="img/index/imgAdaptacion.jpg" alt="">
        <div class="textoImagen">
          <h1>Adaptazioa</h1>
        </div>
      </a>

      <a class="contenedor" href="paginas/kategoriak.html#Motorizazioa">
        <img class="imglink" src="img/index/imgMotorizacion.jpg" alt="">
        <div class="textoImagen">
          <h1>Motorizazioa</h1>
        </div>
      </a>

    </div>


  </div>

  <br><br><br>

  <footer>

    <div class="fondofooter">
      <div id="cardsfooter">

        <div class="cajafooter">
          <h6>kontaktua</h6>
          <ul class="footer-links">
            <li>
              <p><img src="img/marcador-de-posicion.png" alt=""> Eibar, Indalecio Ojanguren kalea</p>
            </li>
            <li>
              <p><img src="img/arroba.png" alt=""> 4RBikess@gmail.com</p>
            </li>
          </ul>
        </div>

        <a id="footerimg" href="#">
          <img id="logofooter" src="img/logo.PNG" alt="">
        </a>

        <div class="cajafooter">
          <h6>ESTEKAK</h6>
          <ul class="footer-links">
            <li>
              <p><a href="paginas/sobrenosotros.html"> Guri Buruz</a></p>
            </li>
            <li>
              <p><a data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Enpresa Politika</a></p>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Enpresa politika</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h5>Kanpo-politikak</h5>
                      <ul>
                        <li>Bezero guztiei tratu bidezkoa eta kalitatezkoa ematea.</li>
                        <li>Kalitatea eta bikaintasuna duten proiektuak errealizatzea</li>
                        <li>Bezeroak proiektuak egiteko ematen duen informazioa konfidentziala da.</li>
                        <li>Entregatzeko epeak mugiezinak dira</li>
                        <li>Gobernuaren politika eta betekizunekin lerrokatzea</li>
                        <li>Kalifikatutako hautagai guztiei enplegua lortzeko aukera berdinak ematea, larruazal,
                          sexua, erlijioa etab… kontutan hartu gabe</li>
                        <li>Konpetentzia lehiala izatea beste enpresekin</li>
                        <li>Zintzoki jardutea bezeroari kalterik egin gabe</li>
                      </ul>
                      <br>

                      <h5>Barne-politikak</h5>
                      <ul>
                        <li>Laneko arriskuen prebentzioari buruzko derrigorrezko ikastaro bat ematea</li>
                        <li>Langileei merkataritza-kudeaketako eta saldu osteko kudeaketako teknikak ematea</li>
                        <li>Talde-lanaren espiritua sustatzea</li>
                        <li>Sormena sustatzea</li>
                        <li>Errespetu faltarik ez onartzea</li>
                        <li>Langilearen sexua, etnia edo arraza ez diskriminatzea</li>
                        <li>Gure langile guztiei osasun-aseguru pribatu bat ematea</li>
                        <li>Langilea lantokitik 50 km baino urrutirago bizi bada, garraioa enpresaren kontura izango
                          da.</li>
                      </ul>
                      <br>
                    </div>
                  </div>
                </div>
              </div>

            </li>
          </ul>
        </div>

        <br>

      </div>

      <hr>
      <br>

      <div id="cuboredes">
        <div id="redessociales">
          <a href="https://www.instagram.com/"><img class="redes" src="img/logoinsta.png" alt=""></a>
          <a href="https://twitter.com/home?lang=es"><img class="redes" src="img/logotwitter.png" alt=""></a>
          <a href="https://www.youtube.com/"><img class="redes" src="img/logoyoutube.png" alt=""></a>
          <a
            href="https://es.linkedin.com/?src=go-pa&trk=sem-ga_campid=18146679037_asid=140850334975_crid=619061882347_kw=linkedin_d=c_tid=kwd-148086543_n=g_mt=e_geo=20271_slid=&mcid=6968657504633266178&cid=&gclid=CjwKCAjw79iaBhAJEiwAPYwoCEUIxNIy39bUNcDhSno_ETM9Dv2jqFVqn0bb0lQ1tkERUHeRd4g7LBoCyv8QAvD_BwE&gclsrc=aw.ds"><img
              class="redes" src="img/logolinkedin.png" alt=""></a>
        </div>
      </div>

    </div>

  </footer>

  <div id="copy">
    <p>Copyright © 2022 All Rights Reserved by 4RBIKES.</p>
  </div>

  <script src="/view/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>