body {
  background-color: black;
}


#sddm {
  margin: auto;
  padding: 0;
  z-index: 30;
  width: 605px;

}

#sddm li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  font: bold 17px arial
}

#sddm li a {
  display: block;
  margin: 0 1px 0 0;
  padding: 4px 10px;
  width: 100px;
  background: #5970B2;
  color: #FFF;
  text-align: center;
  text-decoration: none
}

#sddm li a:hover {
  background: #49A3FF
}

/*//estilo para el formulario*/

form#pago {
  border: solid 10px LightSteelBlue;
  width: 500px;
  margin: auto;
  background-color: green;
  color: white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  font-size: 14px;
  padding: 30px;
}

form#pago fieldset {
  border: none;
}

form#pago input {
  font-size: 12px;
  background: #BDE3E6;
  border: solid 1px Green;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  float: right;
  margin-right: 15px;
  width: 200px;
}

form#pago ol li {
  line-height: 25px;
  list-style: none;
}

form#pago input:focus {
  border: solid 1px red;
}

input:required {
  outline: 1px solid red;
}

form legend {
  font-size: 18px;
  font-weight: bold;
}

#ajustarFormato {
  background-color: paleturquoise;
  width: 80%;
  margin: auto;
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-size: 80%;
}

#ajustarFormato h1 {
  text-align: center;
  margin: 30px;
  background: blue;
  color: aqua;
}

#ajustarFormato div.cfila {
  display: table-row;
}

#ajustarFormato div.celda {
  display: table-cell;
  padding: 1%;
  overflow: hidden;
}

#ajustarFormato div#content {
  background-color: #ccc;
  margin: auto;
  width: 95%;
  display: table;
  box-sizing: border-box;
  overflow: hidden;
}

#ajustarFormato div.box {
  width: 20%;
  margin-right: 1%;
}

#ajustarFormato div#formu {
  margin: 5% auto;
  width: 85%;
  padding: 2%;
  background: darkgray;
  text-align: center;
}

#ajustarFormato div#one,
div#three,
div#five,
div#seven {
  color: blue;
  padding: 2%;
  background-color: #fff;
  border: 5px solid blue
}

#ajustarFormato div#two,
div#four,
div#six {
  color: white;
  padding: 2%;
  background-color: blue;
  border: 5px solid white
}

#ajustarFormato div#taulaberria {
  margin: auto;
  width: 50%;
}

#ajustarFormato table {
  border: 1px solid black;
  width: 100%;
  background: darkgray;
}

#ajustarFormato tr {
  text-align: center;
}

#ajustarFormato tr#titulo {
  background: darkgray;
  text-align: center;
}

#ajustarFormato tr:nth-child(odd) {
  background: lightcyan;
}

#ajustarFormato tr:nth-child(even) {
  background: ivory;
}

table#hemen {
  border: 1px solid black;
  width: 60%;
  background: darkgray;
  margin: auto;
}

table#hemen tr {
  text-align: center;
}

table#hemen tr#titulo {
  background: darkgray;
  text-align: center;
}

table#hemen tr:nth-child(odd) {
  background: lightcyan;
}

table#hemen tr:nth-child(even) {
  background: ivory;
}

#fotos {
  width: 500px;
  margin: auto;
  background-color: black;
  color: white;
}

#fotos img {
  width: 500px;
  height: 300px;
}

#fotos li {
  margin-top: 50px;
  padding: 10px;
  list-style: none;
  float: left;
  font: bold 17px arial
}

#fotos a {
  text-decoration: none;
}