<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../scss/style.css" rel="stylesheet" type="text/css"/>
  <title>4RBIKE</title>
  <link rel="icon" href="../img/logo.PNG">
  <link href="/view/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
  <div id="imgbloque">
    <a href="../index.html"><img class="iniciologo" src="../img/index/logo1.png" alt=""></a>
  </div>
    
  <div id="bloquelogin">
    <div id="div-login">
      <form id="login">
        <div id="login-titulo">
          <h2>Saioa hasi</h2>
        </div>
        <div class="login-puntos">
          <label for="exampleInputEmail1" class="form-label"><b>Erabiltzailea</b></label>
          <input type="text" class="log-form-control" id="user">
        </div>

        <div class="login-puntos">
          <label for="exampleInputEmail1" class="form-label"><b>Pasahitza</b></label>
          <input type="password" size='15' class="log-form-control" placeholder="Pasahitza (8 karaktere baino gehiago)" aria-label="Username" id="pass">    
        </div>

        <div class="log-divbotones">
          <button type="button" class="log-btn1" id="btnLog"><b>JARRAITU</b></button>
          <a href="../index.html">
            <button type="button" class="log-btn1"><b>ATZERA</b></button>
          </a>
        </div>

        
        <hr>

        <div>
          <h5>Berria zara?</h5>
        </div>

        <div class="log-divbotones">
          <a href="../paginas/registrarse.html">
            <button type="button" class="log-btn2"><b>SAIO BERRI BAT SORTU</b></button>
          </a>
        </div>
                

      </form>   
    </div>
  </div>



    

  <footer>

    <div class="fondofooter">
      <div id="cardsfooter">

        <div class="cajafooter">
          <h6>KONTAKTUA</h6>
          <ul class="footer-links">
            <li><p><img src="../img/marcador-de-posicion.png" alt=""> Eibar, Indalecio Ojanguren kalea</p></li>
            <li><p><img src="../img/arroba.png" alt=""> 4RBikess@gmail.com</p></li>
          </ul>
        </div>

        <a id="footerimg" href="../index.html">
          <img id="logofooter" src="../img/logo.PNG" alt="">
        </a>

        <div class="cajafooter">
          <h6>ESTEKAK</h6>
          <ul class="footer-links">
            <li>
              <p><a href="../paginas/sobrenosotros.html">  Guri Buruz</a></p>
            </li>
            <li>
              <p><a data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Enpresa Politika</a></p>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Enpresa politika</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h5>Kanpo-politikak</h5>
                      <ul>
                        <li>Bezero guztiei tratu bidezkoa eta kalitatezkoa ematea.</li>
                        <li>Kalitatea eta bikaintasuna duten proiektuak errealizatzea</li>
                        <li>Bezeroak proiektuak egiteko ematen duen informazioa konfidentziala da.</li>
                        <li>Entregatzeko epeak mugiezinak dira</li>
                        <li>Gobernuaren politika eta betekizunekin lerrokatzea</li>
                        <li>Kalifikatutako hautagai guztiei enplegua lortzeko aukera berdinak ematea, larruazal, sexua, erlijioa etab… kontutan hartu gabe</li>
                        <li>Konpetentzia lehiala izatea beste enpresekin</li>
                        <li>Zintzoki jardutea bezeroari kalterik egin gabe</li>
                      </ul>
                      <br>

                      <h5>Barne-politikak</h5>
                      <ul>
                        <li>Laneko arriskuen prebentzioari buruzko derrigorrezko ikastaro bat ematea</li>
                        <li>Langileei merkataritza-kudeaketako eta saldu osteko kudeaketako teknikak ematea</li>
                        <li>Talde-lanaren espiritua sustatzea</li>
                        <li>Sormena sustatzea</li>
                        <li>Errespetu faltarik ez onartzea</li>
                        <li>Langilearen sexua, etnia edo arraza ez diskriminatzea</li>
                        <li>Gure langile guztiei osasun-aseguru pribatu bat ematea</li>
                        <li>Langilea lantokitik 50 km baino urrutirago bizi bada, garraioa enpresaren kontura izango da.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              
            </li>
          </ul>
        </div>

        <br>
    
      </div>
    
      <hr>
      <br>
    
      <div id="cuboredes">
        <div id="redessociales">
          <a href="https://www.instagram.com/"><img class="redes"  src="../img/logoinsta.png" alt=""></a>
          <a href="https://twitter.com/home?lang=es"><img class="redes"  src="../img/logotwitter.png" alt=""></a>
          <a href="https://www.youtube.com/"><img class="redes" src="../img/logoyoutube.png" alt=""></a>
          <a href="https://es.linkedin.com/?src=go-pa&trk=sem-ga_campid=18146679037_asid=140850334975_crid=619061882347_kw=linkedin_d=c_tid=kwd-148086543_n=g_mt=e_geo=20271_slid=&mcid=6968657504633266178&cid=&gclid=CjwKCAjw79iaBhAJEiwAPYwoCEUIxNIy39bUNcDhSno_ETM9Dv2jqFVqn0bb0lQ1tkERUHeRd4g7LBoCyv8QAvD_BwE&gclsrc=aw.ds"><img class="redes" src="../img/logolinkedin.png" alt=""></a>
        </div>
      </div>    
    
    </div>
    
  </footer>
    
  <div id="copy">
    <p>Copyright © 2022 All Rights Reserved by 4RBIKES.</p>
  </div>


  <script src="/view/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/view/js/log.js"></script> 

</body>
</html>