<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../scss/style.css">
  <title>4RBIKE</title>
  <link rel="icon" href="../img/logo.PNG">
  <link href="/view/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <header>

    <nav class="navbar navbar-expand-lg navbar-light p-1" id="navbar">
      <div class="container-fluid">

        <a id="navbar-logo" href="../index.html">
          <img src="../../view/img/index/logo1.png" alt="">
        </a>

        <a id="log" href="../paginas/login.html">
          <img src="../../view/img/usuario-de-perfil.png" alt="" style="width: 30px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html">Sarrera</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="kategoriak.html" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">Kategoriak</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="../paginas/kategoriak.html#Birziklatu">Birziklatzea</a></li>
                <li><a class="dropdown-item" href="../paginas/kategoriak.html#Adaptazioa">Adaptazioa</a></li>
                <li><a class="dropdown-item" href="../paginas/kategoriak.html#Motorizazioa">Motorizazioa</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="../paginas/sobrenosotros.html">Guri buruz</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="../paginas/soporte.html">Soporte Teknikoa</a>
            </li>

          </ul>

          <form class="d-flex" role="search">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a id="user" href="../paginas/login.html">
                  <img src="../../view/img/usuario-de-perfil.png" alt="" style="width: 30px;">
                </a>
              </li>
              <li class="nav-item">
                <img src="../../view/img/pais-vasco.png" alt="" style="width: 30px; margin-right: 10px;">
                <img src="../../view/img/united-kingdom.png" alt="" style="width: 30px;">
              </li>
            </ul>
          </form>

        </div>

      </div>
    </nav>

  </header>

  <!-- contenido -->


  <div id="titulosobrenosotros">
    <h1>Guri buruz</h1>

  </div>


  <br>

  <div id="sobr-cont">

    <div id="contenidosobrenosotros">

      <div id="sobrenosotroscajas1">

        <img class="imagensobrenosotros" src="../img/sobrenosotros/img2.jpg" alt="">

        <div id="textosobrenosotros">
          <p>4RBIKES proiektua, beste hainbat proiektu bezala, gau ilun batian tximista bakar
            batek sortzen duen argitasun zuntz batetik sortutako idea da. Zergatik ez imajinatu
            beste mobilitate eredu bat ? askoz ere jasangarriagoa, inklusiboa, osasuntsuagoa eta
            natura berarekin integratzaileagoa.</p>
          <p>Bizikletak beti izan du leku-funtzio bat gure gizartean. Leku hori aldatzen joan
            da garai bakoitzeko behar-kontextuen arabera….. lanerako tresna bat, bidaiatzeko ere
            aintzinako denboran, funtzio ludikoa, konpetizioa….. Gaur egun bizi dugun
            errealitatean eta etorkizunean bizikletak paper oraindik eta garrantzitsuago bat joka
            dezakeela pentsatzen dugu 4RBIKESen, eta horren aldeko apustua egin degu.</p>
          <p>Laburbiltzeko 4RBIKESen bizikletaren promozioa egin nahi dugu, guztiontzat,
            baina bidea “gutxiago gehiago dala” esaldiarekin lerrokatuz. Bizikletak berrerabiltzeko
            erreziklatu, berritu eta kustomizatuko ditugu, elektrifikazioan aparteko erronka
            dugularik benetako mobilitate alternatiba bat bultzatzeko.</p>
        </div>

      </div>

      <div id="huecocajas">

      </div>

      <div id="sobrenosotroscajas2">

        <div id="textosobrenosotros2">
          <p>4RBIKES Eibarren kokatzen da fisikoki eta ez da kasualitatea. Pasa dan gizaldiko
            50 eta 60 hamarkadetan, Eibar bizikleta fabrikazioaren hiriburu bilakatu zen pertsonen
            mobilitatean bizikleta benetako aukera bat zen garaian. Han sortu eta egin ziren
            oraindik ezagun diren ORBEA, GAC edota BH marka ezagunak adibidez.</p>
          <p>4RBIKES etorkizunari begira dagoen proiektua da, ezin liteke beste era batera
            izan, baina etorkizunera begiratzeko ere beharrezkoa deritzogu abiapuntu sendo bat,
            eta Eibarko kultura eta historiak horixe eskaintzen digu. Horrez gain, eta nahiz eta
            gure merkatal bokazioa “mundu zabal” batera zuzendu, egia da Eibar eta bere
            inguruneek merkatu local potentzial haundia osatzen dutela.</p>
          <p>Gaur egun 4RBIKESen erakustoki eta tailer teknikoa Eibarko Indalecio
            Ojanguren kalean daude. Bertan erreziklatutako hainbat bizikletaz gain, edozein
            proiektu kustomizatzeko osagarri ezberdinak eta garrantzitsuena, gure lankideen
            aholkularitza pertsonalizatua aurkitu zenezake. Baita kit elektrikoaz eraberritutako
            bizikleta multzo bat ere.</p>
          <p>Kokapen fisikoa alde batera utzita, 4RBIKESen bokazio unibertsala kontutan
            izanda, gure enpresa edozein sare sozialetan aurkituko duzu, eta noski Web orrian ere.</p>
        </div>

        <img class="imagensobrenosotros" src="../img/sobrenosotros/img3.jpg" alt="">

      </div>

      <br>

    </div>

  </div>

  <hr>
  <h3 style="text-align: center; margin-top: 20px;">Helburua</h3>

  <div id="sobr-cont2">

    <div id="sob-puntuak">

      <div id="baloreak">
        <h4 style="text-align: center; margin-bottom: 20px;">BALOREAK</h4>
        <ul>
          <li>Bezeroenganako egokitzapen bokazioa</li>
          <li>Integrazioa: Guztiok bat aurrera</li>
          <li>Jasangarritasuna</li>
          <li>Kontzientzia</li>
        </ul>
      </div>

      <div id="misioa">
        <h4 style="text-align: center; margin-bottom: 20px;">MISIOA</h4>
        <p>Bizikeltaren erreziklapen eta erabilpena sustatzea ingurumenarekin bat eginez bizitza experientzia
          osasuntsuago baten alde</p>
      </div>

      <div id="bisioa">
        <h4 style="text-align: center; margin-bottom: 20px;">BISIOA</h4>
        <p>Bizikleta industri eredu jasangarrigo baten aldeko ispilu edota erreferentzia bilakatzia</p>
      </div>

    </div>

  </div>

  <footer>

    <div class="fondofooter">
      <div id="cardsfooter">

        <div class="cajafooter">
          <h6>KONTAKTUA</h6>
          <ul class="footer-links">
            <li>
              <p><img src="../img/marcador-de-posicion.png" alt=""> Eibar, Indalecio Ojanguren kalea</p>
            </li>
            <li>
              <p><img src="../img/arroba.png" alt=""> 4RBikess@gmail.com</p>
            </li>
          </ul>
        </div>

        <a id="footerimg" href="../index.html">
          <img id="logofooter" src="../img/logo.PNG" alt="">
        </a>

        <div class="cajafooter">
          <h6>ESTEKAK</h6>
          <ul class="footer-links">
            <li>
              <p><a href="../paginas/sobrenosotros.html"> Guri Buruz</a></p>
            </li>
            <li>
              <p><a data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Enpresa Politika</a></p>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Enpresa politika</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h5>Kanpo-politikak</h5>
                      <ul>
                        <li>Bezero guztiei tratu bidezkoa eta kalitatezkoa ematea.</li>
                        <li>Kalitatea eta bikaintasuna duten proiektuak errealizatzea</li>
                        <li>Bezeroak proiektuak egiteko ematen duen informazioa konfidentziala da.</li>
                        <li>Entregatzeko epeak mugiezinak dira</li>
                        <li>Gobernuaren politika eta betekizunekin lerrokatzea</li>
                        <li>Kalifikatutako hautagai guztiei enplegua lortzeko aukera berdinak ematea, larruazal,
                          sexua, erlijioa etab… kontutan hartu gabe</li>
                        <li>Konpetentzia lehiala izatea beste enpresekin</li>
                        <li>Zintzoki jardutea bezeroari kalterik egin gabe</li>
                      </ul>
                      <br>

                      <h5>Barne-politikak</h5>
                      <ul>
                        <li>Laneko arriskuen prebentzioari buruzko derrigorrezko ikastaro bat ematea</li>
                        <li>Langileei merkataritza-kudeaketako eta saldu osteko kudeaketako teknikak ematea</li>
                        <li>Talde-lanaren espiritua sustatzea</li>
                        <li>Sormena sustatzea</li>
                        <li>Errespetu faltarik ez onartzea</li>
                        <li>Langilearen sexua, etnia edo arraza ez diskriminatzea</li>
                        <li>Gure langile guztiei osasun-aseguru pribatu bat ematea</li>
                        <li>Langilea lantokitik 50 km baino urrutirago bizi bada, garraioa enpresaren kontura izango da.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </li>
          </ul>
        </div>

        <br>

      </div>

      <hr>
      <br>

      <div id="cuboredes">
        <div id="redessociales">
          <a href="https://www.instagram.com/"><img class="redes" src="../img/logoinsta.png" alt=""></a>
          <a href="https://twitter.com/home?lang=es"><img class="redes" src="../img/logotwitter.png" alt=""></a>
          <a href="https://www.youtube.com/"><img class="redes" src="../img/logoyoutube.png" alt=""></a>
          <a
            href="https://es.linkedin.com/?src=go-pa&trk=sem-ga_campid=18146679037_asid=140850334975_crid=619061882347_kw=linkedin_d=c_tid=kwd-148086543_n=g_mt=e_geo=20271_slid=&mcid=6968657504633266178&cid=&gclid=CjwKCAjw79iaBhAJEiwAPYwoCEUIxNIy39bUNcDhSno_ETM9Dv2jqFVqn0bb0lQ1tkERUHeRd4g7LBoCyv8QAvD_BwE&gclsrc=aw.ds"><img
              class="redes" src="../img/logolinkedin.png" alt=""></a>
        </div>
      </div>

    </div>

  </footer>

  <div id="copy">
    <p>Copyright © 2022 All Rights Reserved by 4RBIKES.</p>
  </div>



  <script src="/view/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>