* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

label.cCursos {
  min-width: 180px;
}

fieldset {
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #dddddd;
}

legend {
  font-weight: bold;

}

input[type=submit],
input[type=button] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover,
input[type=button]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

table {
  border: 2px solid black;
  width: 80%;
  margin: auto;
}

td {
  border: 2px solid black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit],
  input[type=button] {
    width: 100%;
    margin-top: 0;
  }
}